@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

This is the home page.

<div>
    Message: @ViewBag.Message
</div>

<div>
    Message2: @ViewBag.Message2
</div>
